<header>
    <script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
    <script src="~/js/app/planOfWeek.js"></script>
    <style type="text/css" media="print">
        /* @@page { size: landscape; } */
        @@media print {
            body {
                visibility: hidden;
            }

            .section-to-print {
                visibility: visible;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                box-shadow: none;
            }

            .bg-1 {
                background-color: #fffaae
            }

            .bg-2 {
                background-color: #f8c5d7
            }

            .bg-3 {
                background-color: #cbfff0
            }

            .bg-4 {
                background-color: #ffcfa7
            }

            .bg-5 {
                background-color: #c7ebff
            }

            .bg-6 {
                background-color: #cfccff
            }

            .bg-7 {
                background-color: #fcb1b1
            }
        }
    </style>
</header>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4">
        บันทึกจำนวนสินค้าที่ผลิตและขายได้จริง
    </h4>
    <div class="bs-toast toast toast-placement-ex fade bg-success top-0 end-0 m-2" id="import-success" role="alert" aria-live="assertive" aria-atomic="true" delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">สำเร็จ</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            อนุมัติสำเร็จ.
        </div>
    </div>

    <div class="bs-toast toast toast-placement-ex fade bg-danger top-0 end-0 m-2" id="import-not-success" role="alert" aria-live="assertive" aria-atomic="true" bottom-0 start-0 delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">แจ้งเตือน</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
        </div>
    </div>
    <form id="form1" asp-action="Index" method="get">

        <div class="mb-3">

            <div class="row">
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-2 col-form-label" for="html5-date-input-store">Store</label>
                        <div class="col-sm-10">
                            <select id="html5-date-input-store" name="Store" class="form-select select-action">
                                <option value="0">กรุณาเลือกสาขาที่ต้องการ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="row">
                        <label class="col-sm-2 col-form-label" for="html5-date-input-week">Week</label>
                        <div class="col-sm-10">
                            <select id="html5-date-input-week" name="Week" class="form-select select-action">
                                <option value="0">กรุณาเลือกสัปดาห์ที่ต้องการ</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="col-6">
                    <div class="row">
                        <label class="col-sm-3 col-form-label" for="html5-date-input-type">Choose Day Of Week</label>
                        <div class="col-sm-9">
                            <select id="html5-date-input-type" name="type" class="form-select select-action">



                                <option value="0">กรุณาเลือกวัน</option>
                                <option value="1">จันทร์</option>
                                <option value="2">อังคาร</option>
                                <option value="3">พุธ</option>
                                <option value="4">พฤหัส</option>
                                <option value="5">ศุกร์</option>
                                <option value="6">เสาร์</option>
                                <option value="7">อาทิตย์</option>
                            </select>
                        </div>
                    </div>

                </div>

                @*  <div class="col-2">
                <div class="btn-group">
                <button type="button" id="export-btn" class="btn btn-outline-secondary"><span class="tf-icons bx bx-download"></span>&nbsp; Export</button>
                </div>
                </div> *@
            </div>



        </div>
        @*         <div class="mb-3">
        <div style="display: flex;width: 30%;">
        <select id="defaultSelectSeller" name="SpokeID" class="form-select" onchange="submitForm()">
        <option value="0">Select Seller</option>
        @{
        List<Store> spokeList = ViewBag.storeSpoke;
        foreach (var spoke in spokeList)
        {
        <option value="@spoke.id">@spoke.store_name</option>
        }

        }

        </select>
        <div style="align-self: center;margin-left:10px">
        <input type="button" class="btn btn-outline-secondary" value="Clear" onclick="clearSeller()" />

        </div>
        </div>
        </div> *@
        @*         <div class="mb-3" style="width:30%;display: flex;">

        <input id="html5-date-input-start" type="date" name="start" class="form-select" style="margin-right: 10px" onchange="submitForm()" />


        <input id="html5-date-input-end" type="date" name="end" class="form-select" onchange="submitForm()" />


        </div> *@

    </form>

    <div class="nav-align-top ">


        <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="navs-pills-top-home" role="tabpanel">
                <div class="card section-to-print" id="forprint" style="padding:10px">
                    <h6 class="">สถานะ : ยืนยันแล้ว</h6>
                    <div class="table-responsive text-nowrap">
                        <table id="printTable" class="table" style="text-align-last: left;">
                            <thead style="background-color:#c1c1c138">
                                <tr class="text-nowrap">
                                    <th>SKU</th>
                                    <th>รายการ</th>
                                    <th>จำนวนตามแผนการผลิต</th>
                                    <th>บันทึกจำนวนสินค้าที่ผลิตและขายได้จริง</th>
                                    <th>เหตุผล</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>00000</td>
                                    <td>ขนมปังแนยสด</td>
                                    <td>23</td>
                                    <td><input type="number" step="0.001" /></td>
                                    <td>
                                        <select id="smallSelect" class="form-select form-select-sm">
                                            <option>กรุณาเลือก เหตุผล</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            <button class="btn btn-xs btn-outline-info" type="button">จัดของ</button>
                                            <button class="btn btn-xs btn-outline-success" type="button">ยืนยัน</button>
                                            <button class="btn btn-xs btn-outline-danger" type="button">ยกเลิก</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                <tr class="text-nowrap">
                                    <th rowspan="1" colspan="2">Total</th>
                                    <td>0</td>
                                    <td>0</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="row mt-4">
                    <form style="width:fit-content">
                        <div class="btn-group">

                            <button type="button" id="printButton" class="btn btn-success"><span class="tf-icons bx bx-check"></span>&nbsp; ยืนยันทั้งหมด</button>
                        </div>
                    </form>
                    <form style="width:fit-content">
                        <div class="btn-group">
                            <button type="button" id="submitButton" class="btn btn-danger"><span class="tf-icons bx bx-x"></span>&nbsp; ยกเลิกทั้งหมด</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>


    </div>
</div>