@model StoreManagePlan.Models.StoreRelation

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="bs-toast toast toast-placement-ex fade bg-success top-0 end-0 m-2" id="import-success" role="alert" aria-live="assertive" aria-atomic="true" delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">สำเร็จ</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            บันทึกสำเร็จ.
        </div>
    </div>

    <div class="bs-toast toast toast-placement-ex fade bg-danger top-0 end-0 m-2" id="import-not-success" role="alert" aria-live="assertive" aria-atomic="true" bottom-0 start-0 delay="2000">
        <div class="toast-header">
            <i class="bx bx-bell me-2"></i>
            <div class="me-auto fw-medium">แจ้งเตือน</div>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            กรุณาเลือก Producer
        </div>
    </div>

   
        <div class="mb-3" style="width:30%">
            <div><span style="color:red">*</span>Producer</div>
            <select id="defaultSelect" name="hubID" class="form-select">
                <option value="0">Select Producer</option>
                @{
                    List<Store> hubList = ViewBag.storeHub;
                    foreach (var hub in hubList)
                    {
                        <option value="@hub.id">@hub.store_name</option>
                    }

                }

            </select>

        </div>
        <div class="mb-3" style="width:30%;display: flex;">

            <input id="html5-date-input" type="date" name="start" class="form-select" style="margin-right: 10px" />


            <input id="html5-date-input" type="date" name="end" class="form-select" />


        </div>
        <div><span style="color:red">*</span>Selected Seller</div>
        <div class="row">
            <div class="col-xxl-5">

                <select name="from[]" id="multiselect" class="form-control" size="8" multiple="multiple">

                    @{
                        List<Store> spokeList = ViewBag.storeSpoke;
                        foreach (var spoke in spokeList)
                        {
                            <option value="@spoke.id">@spoke.store_name</option>
                        }

                    }
                </select>
            </div>

            <div class="col-xxl-2">
                <div class="row m-3">
                    <button type="button" id="multiselect_rightAll" class="btn btn-block btn-sm btn-primary mb-1"><i class="tf-icons bx bx-chevrons-right"></i></button>
                    <button type="button" id="multiselect_rightSelected" class="btn btn-block btn-sm btn-primary mb-1"><i class="tf-icons bx bx-chevron-right"></i></button>
                    <button type="button" id="multiselect_leftSelected" class="btn btn-block btn-sm btn-primary mb-1"><i class="tf-icons bx bx-chevron-left"></i></button>
                    <button type="button" id="multiselect_leftAll" class="btn btn-block btn-sm btn-primary"><i class="tf-icons bx bx-chevrons-left"></i></button>
                </div>
            </div>

            <div class="col-xxl-5">
                <select name="to[]" id="multiselect_to" class="form-control" size="8" multiple="multiple"></select>
            </div>
        </div>
    <div class="mb-3" style="width:30%;display: flex;">

        <form asp-action="Create" id="form1" method="post">
            <div class="row mt-3">
                <div class="col-xs-2">
                    <button type="submit" id="submit" class="btn btn-block btn-sm btn-primary">submit</button>
                </div>
            </div>
            <input name="listSpoke" id="listSpoke" type="hidden" />

        </form>
        <form asp-action="Index">
            <div class="row mt-3" style="padding-left:10px;">
                <div class="col-xs-2">
                    <button type="submit" id="submit" class="btn btn-block btn-sm btn-secondary">cancel</button>
                </div>
            </div>
        </form>

    </div>
  

</div>



<script src="https://code.jquery.com/jquery-3.7.0.slim.min.js" integrity="sha256-tG5mcZUtJsZvyKAxYLVXrmjKBVLd6VpVccqz/r4ypFE=" crossorigin="anonymous"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="~/js/multiselect.min.js"></script>


<script type="text/javascript">
    jQuery(document).ready(function ($) {
     
        $('#multiselect').multiselect();
        var values = [];

        $('#submit').click(function (e) {


            // ตรวจสอบการเลือกรายการใน dropdown และ multiselect_to
            if ($('#defaultSelect').val() === '0') {
                    e.preventDefault()
                // $("#import-not-success .toast-body").text("กรุณาเลือกสิ่งที่ต้องการลบ");
                 jQuery('#import-not-success').toast('show');
                //alert('กรุณาเลือก Producer');
            
                return;
            }



            // ดำเนินการ submit เมื่อผู้ใช้เลือกรายการครบถ้วน
            var x = document.getElementById("multiselect_to");
            if (x.length === 0) {

                alert('กรุณาเลือก Selected Seller อย่างน้อย 1 รายการ');
                e.preventDefault()
                return;
            }
            for (var i = 0; i < x.length; i++) {
                values.push(x.options[i].value);
            }
            var resultString = values.join(', ');
            $('#listSpoke').val(resultString);
            // $('#form1').submit();

        });
    });
</script>

